# Ignore node_modules folder
node_modules/



# Ignore log files
*.log

# Ignore build artifacts
dist/
build/

# Ignore IDE/editor-specific files
.vscode/
.idea/


# Ignore system files
.DS_Store
Thumbs.db